@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
    @apply font-montserrat text-base;
  }

.pokemon-types {
  @apply flex justify-center gap-2 mt-2;
}

.type-badge {
  @apply px-3 py-1 rounded-full text-sm text-white font-game;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

/* Adjust heading sizes for pixel font */
h1 {
  @apply text-2xl mb-4;
}

h2 {
  @apply text-xl mb-3;
}

.pixel-border {
  @apply border-4 border-gray-800;
  box-shadow: 
    -4px 0 0 0 #1f2937,
    4px 0 0 0 #1f2937,
    0 -4px 0 0 #1f2937,
    0 4px 0 0 #1f2937;
}

.font-game {
  font-family: 'Press Start 2P', cursive;
}

.modal-open {
  overflow: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600;
}

/* Loading animation */
@keyframes loading-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.loading-animation {
  animation: loading-bounce 1s infinite;
}

/* Pagination styling */
.pagination-button {
  @apply px-4 py-2 rounded-full text-base transition-all font-montserrat font-bold;
  @apply bg-blue-500 text-white hover:bg-blue-600;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.pagination-button:disabled {
  @apply opacity-50 cursor-not-allowed hover:bg-blue-500;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}